.ant-layout-content {
  height: 500px;
  color: rgb(0, 0, 0);
  line-height: 120px;
  background: #fff;
}

.image {
  width: 70%;
  height: 95%;
  background-size: cover;
  background-position: center;
  margin-bottom: 5px;
}
