.item {
  min-width: 30%;
  height: 150px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #f3f3f3;
  margin: 0 7.5px 15px;
  overflow: hidden;
  opacity: 1.7;

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    & .content {
      opacity: 0.9;
    }
  }

  &.large {
    height: 380px;
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .content {
    height: 90px;
    width: 90%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(146, 133, 133);
    background-color: white;
    opacity: 1.7;
    position: absolute;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }
  }
}
